/* Style de base récupéré chez schnaps.it */

@font-face{
    font-family:'opensans';
    src:url("fonts/opensans-regular.woff") format("woff"), url("fonts/opensans-regular.ttf") format("truetype");
    font-weight:normal;
    font-style:normal
}

@font-face{
    font-family:'merriweather';
    src:url("fonts/merriweather-bold.woff") format("woff"), url("fonts/merriweather-bold.ttf") format("truetype");
    font-weight:bold;
    font-style:normal
}

@font-face{
    font-family:'calendas';
    src:url("fonts/calendas.woff") format("woff");
    font-weight:normal;
    font-style:normal
}

body {
    display:flex;
    flex-direction:column;
    font-family:opensans, arial, sans-serif;
    font-feature-settings:"swsh", "liga", "dlig";
    font-size:1.6rem;
    line-height:1.5;
    margin:0;
    min-height:100vh;
    padding:0;
    text-rendering:optimizeLegibility;
    -webkit-font-feature-settings:"swsh", "liga", "dlig";
    -webkit-font-smoothing:antialiased;
}

h1 {
    color:#BF463B;
    font-family:calendas, arial, sans-serif;
    font-size:calc(1.4em + 4.5vw);
    font-weight:normal;
    line-height:1.3;
    margin-bottom:2rem;
    margin-top:0;
    text-align:center;
}

h1 a {
    color:#BF463B;
    text-decoration:none;
}

h2 {
    font-family:calendas, arial, sans-serif;
}

img {
    max-width:100%;
    height:auto;
}

header {
    background-color:#f5da8e;
    background-repeat:repeat;
    background:url(noisy-texture.png);
    color:#333;
    flex-grow:0;
    padding-left:5%;
    padding-right:5%;
}

footer, header {
    background-repeat:repeat;
    background:url(noisy-texture.png);
}

footer {
    background-color:#BF463B;
    color:#fff;
    flex-grow:0;
}

footer a {
    color:#fff;
}

.pre-title{
    display:-webkit-flex;
    display:-ms-flexbox;
    margin:0 0 3rem;
    font-size:1.8rem;
    font-family:calendas, arial, sans-serif;
    color:#618b5f;
    opacity:.7;
}

.pre-title:after,.pre-title:before{
    display:block;
    content:"";
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    -webkit-align-self:center;
    -ms-flex-item-align:center;
    -ms-grid-row-align:center;
    align-self:center;
    border-bottom:1px dotted CurrentColor;
}

.pre-title:before{
    margin-right:.3em;
}

.pre-title:after{
    margin-left:.3em;
}

main {
    background-repeat:repeat;
    background:url(noisy-texture.png);
    background-color:#618b5f;
    flex-grow:1;
    display: flex;
    align-items: center;
    justify-content: center;
}

main, main code a {
    color:white;
}
